<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OmniTAKMobile.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0.0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FED47C0BFD784F01009730C7AC150189442BE17F</string>
				<key>dateExpires</key>
				<string>7/12/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4HSANV485G.com.engindearing.omnitak.mobile</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4HSANV485G</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>OmniTAKMobile.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>255f16cb-31e1-4da6-b560-4d5aa01c3e02</string>
				<key>dateExpires</key>
				<string>7/12/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.engindearing.omnitak.mobile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4HSANV485G</string>
				<key>name</key>
				<string>Grant J Wylie</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
